services:
  server:
    build: ./server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    restart: always

  client:
    build: ./client
    ports:
      - "81:81"
    depends_on:
      - server
    restart: always
